*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

mysql-connector-java-8\.0\.15/

php/rendezvous/rendezvousClient\.php

php/exercice/rendezVousClient\.php

app/src/main/java/com/example/projetgym/object/Client\.java

app/src/main/java/com/example/projetgym/Cours\.java~HEAD

app/src/main/java/com/example/projetgym/Cours\.java~Guillaume

app/src/main/java/com/example/projetgym/helper/SQLiteHandler\.java

php/client/gestionClient\.php

php/evenement/gestionEvenement\.php

app/src/main/java/com/example/projetgym/activity/RendezVousClientActivity\.java

app/src/main/java/com/example/projetgym/activity/LoginActivity\.java

app/src/main/java/com/example/projetgym/activity/InscriptionActivity\.java

app/src/main/java/com/example/projetgym/activity/AccueilActivity\.java
